.portofolio{
    min-height: 100vh;
    width: 100%;
    background-color: white;
   margin-top: 86px;
   padding-bottom: 30px;
   
  }
.line {
    background-color:#2c3e50 ;
    width: 70px ;
    height: 4px;
    margin-inline: 10px;

  }
  .dis{
    font-size: 40px !important;
     font-weight: 700;
     margin-bottom: 10px;
     color:#2c3e50 ;
     text-align: center;
  }
  /* .main{
    position: relative;
    overflow: hidden;
    border-radius: 30%;
  } */
  .layers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1abc9ce6;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    color: white;
    opacity: 0;
    transition: 0.6s opacity;
  }

 
  .box {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    background-color:RGBA(13, 110, 253, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .boxData{
    width:600px;
    height: 59vh;
    /* background-color: #09c; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('');
  }


  .inner:hover > div {
            opacity: 1;
  }